* {
    box-sizing: border-box;
}

/*.img-circle {
    border-radius: 50%;
}*/


.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

img {
    border-radius: 50%;
}

.pets_list {
  float: left;
  margin: 10px 10px

}

.pet_list h3 {
  text-align: center;
}
