* {
    box-sizing: border-box;
}

body {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Raleway', sans-serif;
}

.title {
  text-align: center;

}

header {
  margin: 40px;
}

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  /*border-left: 1px solid rgba(0, 0, 0, 0.2);*/
  /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*text-align: center;*/
}

.nav {
  margin: 20px;
}

.nav ul {
  margin: 0;
  padding: 0;
  /*font-family: 'Raleway', sans-serif;*/
  list-style-type: none;
  text-align: center;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  padding: .2em 1em;
}

.pets.index{
float:left;
width:70%;
overflow:hidden;
}

.pets.checklist{
text-align: left;
float:left;
width:30%;
overflow:hidden;
padding-top: 10px;
}

.pets.checklist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    width: 245px;
    height: 245px;
}

.pets_list {
  display: inline-block;
  /*float: left;*/
  padding: 10px 10px;
}

.pets_list h3 {
  text-align: center;
}
